name: Tests and checks

on: 
  push:

jobs:
  tests:
    name: App tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Setup poetry
        run: |
          curl -sSL https://install.python-poetry.org/ | python - && echo "$HOME/.poetry/bin" >> $GITHUB_PATH
        env:
          POETRY_VERSION: 1.8.2

      - name: Install dependencies
        run: |
          poetry install --with dev

      - name: Format check with Ruff
        run: |
          poetry run ruff format --check .

      - name: Lint with Ruff
        run: |
          poetry run ruff check --output-format=github .

      - name: Typecheck with Pyright
        run: |
          poetry run pyright

      - name: Unit tests with pytest
        run: |
          poetry run pytest tests

  docker-build:
    name: Docker build test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          tags: validator-exit-bot:test
          load: true
